<link rel="import" href="/bower_components/polymer/polymer.html">
<script src="../scripts/sound.js"></script>

<dom-module id="x-sound" >
  <script>
    var sound = my.sound.createSound(new AudioContext());

    Polymer({
      is: 'x-sound',
      ready: function () {
        var preset = this.getAttribute('preset');
        this.channel_ = sound.createChannel(my.sound.presets[preset]);
        this.preset_ = preset;
      },
      down: function () {
        this.channel_.down();
      },
      up: function () {
        this.channel_.up();
      }
    });
  </script>
</dom-module>
